.box1-column1 {
  font-family: 'Lexend Exa', sans-serif;
  font-size: 5rem;
    background: linear-gradient(180deg, rgba(21, 141, 243, 0.24) 0%, rgba(21, 141, 243, 0.40) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  margin: 0;
  /* line-height: normal;S */
}

@media  (max-width: 900px) {
  .box1-column1 {
    font-size: 3rem;
  }
}
